.recepeBOX{
    background: #fff;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
    text-align: left;
    overflow: hidden;
    

}
.recepeBOXTEXT{
text-align: left;
font-weight: bold;
margin-left: 10px;
}
.recepeBOXTEXTH1{
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
    color: salmon;   
}
.margin{
    margin:0 auto;
}
.button{
 outline: none;
    background-color:salmon;
    color: salmon;
    width: 70px;
}
.button:hover{
    background-color: lightgreen;
    color: wheat;
}
.p{
    color:salmon;
}